/* ---------------------- Imports ---------------------- */
@import "~@fortawesome/fontawesome-free/css/fontawesome.css";
@import "~@fortawesome/fontawesome-free/css/solid.css";
@import "~@fortawesome/fontawesome-free/css/brands.css";
@import "~bootstrap-material-design/dist/css/bootstrap-material-design.min.css";

/* ---------------------- Globals ---------------------- */
$primary-color: #12887b;
$section-space: 3rem;
$section-bloc-space: 1rem;

/* ---------------------- Header ---------------------- */
$faq-musis-co: #f24763;
$faq-music-bg: #f5edf1;

.navbar {
  padding-top: .1rem;
  padding-bottom: .1rem;

  .navbar-brand {
    padding-top: 0;
    padding-bottom: 0;

    img {
      border-radius: 3px;
    }
  }

  a.nav-link {
    color: #f5f5f5;
  }

  .bmd-btn-fab.music {
    width: 2rem;
    min-width: 2rem;
    height: 2rem;
    margin: 0 0 0 1rem;
    background-color: $faq-music-bg;
    border: 1px solid darken($faq-musis-co, 10%);

    &:hover {
      background-color: lighten($faq-music-bg, 10%);
    }

    i {
      font-size: 1rem;
      color: $faq-musis-co;
    }
  }
}

/* ---------------------- Body ---------------------- */
body {
  background-color: #f5f5f5;

  .section-title {
    color: $primary-color;
    margin-bottom: 2rem;
  }

  .section-bloc {
    margin-top: $section-bloc-space;
    @media only screen and (min-width: 768px) {
      margin-top: 0;
    }
  }
}

/* ---------------------- Section cover ---------------------- */
.section-cover {
  height: 400px;
  background-image: url("../images/cover.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* ---------------------- Section CV card ---------------------- */
$faq-blog-bg: #563f7a;
$faq-linkedin-bg: #1178B2;
$faq-github-bg: #2c3238;
$faq-gist-bg: #00BCD4;

.section-cv-card {
  margin-top: -340px;
  @media only screen and (min-width: 768px) {
    margin-top: -280px;
  }

  .card {
    @media only screen and (min-width: 768px) {
      padding: 3rem 3rem 1rem 3rem;
    }
  }

  .card, a[href] {
    background-color: $primary-color;
    color: #fff;
  }

  .card-body {
    .list-group-item {
      padding: 0.3rem 0;
    }

    img {
      max-width: 196px;
      max-height: 196px;
    }

    .bmd-btn-fab:not(:first-child) {
      margin-left: 1rem;
    }

    .bmd-btn-fab.blog {
      background-color: $faq-blog-bg;

      &:hover {
        background-color: darken($faq-blog-bg, 10%);
      }
    }

    .bmd-btn-fab.linkedin {
      background-color: $faq-linkedin-bg;

      &:hover {
        background-color: darken($faq-linkedin-bg, 10%);
      }
    }

    .bmd-btn-fab.github {
      background-color: $faq-github-bg;

      &:hover {
        background-color: darken($faq-github-bg, 10%);
      }
    }

    .bmd-btn-fab.gist {
      background-color: $faq-gist-bg;

      &:hover {
        background-color: darken($faq-gist-bg, 10%);
      }
    }
  }
}

/* ---------------------- Section summary ---------------------- */
.section-summary {
  margin-top: $section-space;
}

/* ---------------------- Section timeline experiences ---------------------- */
$timeline-color: #3f51b5;

.section-timeline-exp, .section-timeline-edu {
  margin-top: $section-space;

  .sep-center:after, .sep-left:before, .sep-right:before {
    content: ' ';
    background-color: $timeline-color;
    display: block;
    opacity: 0.6;
    position: absolute;
  }

  .sep-center:after {
    width: 4px;
    height: 100%;
    left: 49%;
    top: 0;
  }

  .sep-left:before {
    width: 50%;
    height: 4px;
    left: 0;
    top: 28px;
  }

  .sep-right:before {
    width: 50%;
    height: 4px;
    right: 0;
    top: 28px;
  }

  .sep-point {
    display: none;
    @media only screen and (min-width: 768px) {
      display: inline-block;
      position: absolute;
      left: calc(50% - 28px);
    }
  }

  .sep-no-height {
    height: 0;
  }

  .card {
    border-left: 5px solid $timeline-color;
  }
}

/* ---------------------- Section keywords ---------------------- */
.section-keywords {
  margin-top: $section-space;
}

/* ---------------------- Section skills ---------------------- */
.section-skills {
  margin-top: $section-space;

  .card {
    @media only screen and (min-width: 768px) {
      padding: 2rem 1rem;
    }
    background-color: $primary-color;
    color: #fff;

    .progress {
      background: #009688;

      .progress-bar {
        background-color: #fff;
      }
    }
  }
}

/* ---------------------- Section contact me ---------------------- */
.section-contact-me {
  margin-top: $section-space;

  .carousel {
    height: 280px;
    @media only screen and (min-width: 768px) {
      height: 100% !important;
    }
  }

  .section-contact-left {
    padding: 0;
    @media only screen and (min-width: 768px) {
      padding-right: 0.5rem;
    }
  }

  .section-contact-right {
    padding: 0;
    margin-top: $section-bloc-space;
    @media only screen and (min-width: 768px) {
      padding-left: 0.5rem;
      margin-top: 0;
    }
  }

  .contact-carousel-item {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #000;
  }
}

/* ---------------------- Snackbar JS ---------------------- */
.snackbar-content {
  margin-bottom: 3px;
  font-size: 1.2rem;
}

/* ---------------------- Modal exps ---------------------- */
.modal {
  .modal-body {
    .table {
      th {
        width: 15%;
      }

      td, th {
        padding: 0.35rem;
        border-top: none;
      }

      ul {
        padding-left: 15px;
      }
    }
  }
}

