<p>
    PI Electronique 是一个创立35年的法国本土收银机生产商，超过150名员工，主要业务是收银机生产、收银系统开发、客户云平台搭建，业务涉及法国、瑞士、卢森堡、澳大利亚。
    <br/>
    网址：<a href="http://www.pielectronique.com/" target="_blank">http://www.pielectronique.com</a>
</p>

<ol>
    <li>信用卡快捷支付系统：
        <p class="pt-2">
            作为项目的主要开发者，基于PHP7语言Symfony3框架，通过Payum组件调用Stripe、PayPal等支付方式；设计迭代算法与收银系统通信；利用Doctrine对数据库MySQL建模。创建PHPunit代码测试以保证代码质量和代码重用性，利用Logz.io对系统日志监测分析。前台设计结合Material
            design风格，配合Bootstrap、jQuery令页面简洁、使用高效。通过Phabricator平台管理项目进度，利用Jenkins进行动态测试、项目部署、代码复杂度检测。
            <br/><br/>
            项目难点在于协调多方同时对同一账单进行付款操作（分餐制）以及与收银系统同步确认收款。通过设计迭代算法和对付款阶段进行逐个标识，确保付款的准确性、安全性。</p>

        <p>基于相似技术背景，开发网上订餐系统、销售数据实时监测分析系统、客户体验评价系统。</p>
    </li>

    <li>酒店会员积分App：
        <p class="pt-2">
            基于TS语言Angular5、Ionic框架，开发渐进式web会员积分app，部署于Android、iOS、web浏览器。扩展IonicStorage建立对不同平台兼容的数据库，研究IonicNative/Cordova插件并开发消息推送、地理围栏定位、二维码扫描等功能。实现用单一代码适应所有主流平台
            (Android、iOS、web浏览器) 的设计目的。</p>
        <p>
            为了达到平台兼容性和客户App个性化定制的目标，需要合理选择普适的web技术，以及高度兼容的代码架构、设计模式。通过对前端架构的深度思考和利用Angular5的优秀拓展性，逐个逐步攻破难关，达到项目设计目标。此应用在移动端体验流畅，风格简洁，受到客户普遍欢迎。
        </p>
    </li>
</ol>