<p>
    平安科技（深圳）有限公司，是《财富》500强企业中国平安集团全资子公司，成立于2008年9月，前身为平安集团的信息管理中心，注册资本3000万美元，公司总部设在深圳，上海、成都设有分部，目前已拥有超过4000名专业IT技术人员和IT管理专家。
    <br/>
    网址：<a href="http://tech.pingan.com/" target="_blank">http://tech.pingan.com</a>
</p>

<h5><i class="fas fa-briefcase"></i> 项目经验：</h5>
<ol>
    <li>前端架构重组（2018/11 - 2019/03）
        <table class="table">
            <tr>
                <th scope="row">项目职务：</th>
                <td>前端技术经理</td>
            </tr>
            <tr>
                <th scope="row">项目描述：</th>
                <td>欧拉图谱是以大数据关系图谱为基础的智能金融分析平台，基于vue2.0和vue-cli3.0，需要重组前端架构，以适应不断增长的可视化业务需求。</td>
            </tr>
            <tr>
                <th scope="row">项目职责：</th>
                <td>
                    <ul>
                        <li>划分代码模块，将混合的业务代码分离、抽取出不同的层次结构。</li>
                        <li>抽取公共组件，将复用性高、使用频繁的组件抽离出来，实现组件复用性。</li>
                        <li>提高页面性能，分析打包文件，优化插件使用，加快页面加载速度。</li>
                        <li>履行代码规约，规避潜在bug，使代码风格统一，易于协作开发。</li>
                        <li>添加单元测试，重点模块、组件书写测试用例，保证页面质量。</li>
                    </ul>
                </td>
            </tr>
        </table>
    </li>

    <li>产业链分析平台开发（2019/03 - 至今）
        <table class="table">
            <tr>
                <th scope="row">项目职务：</th>
                <td>子产品开发负责人</td>
            </tr>
            <tr>
                <th scope="row">项目描述：</th>
                <td>欧拉图谱是以大数据关系图谱为基础的智能金融分析平台，根据业务需求，开发以产业链上下游为基础，服务于政府、企业的智能产业预警分析平台。</td>
            </tr>
            <tr>
                <th scope="row">项目职责：</th>
                <td>
                    <ul>
                        <li>设计数据结构，根据数据的实际情况，设计易于拓展、高性能的PostgreSQL数据库。</li>
                        <li>组织代码评审，定期对微服务的接口代码进行评审，发现接口潜在性能问题。</li>
                        <li>安排前后端开发任务，根据需求的上线周期，合理安排开发人员的工作量。</li>
                        <li>与产品经理保持密切沟通，参与讨论产品新特性、新功能的设计。</li>
                    </ul>
                </td>
            </tr>
        </table>
    </li>

    <li>前端泛图谱业务组件库（2019/03 - 至今）
        <table class="table">
            <tr>
                <th scope="row">项目职务：</th>
                <td>前端技术经理</td>
            </tr>
            <tr>
                <th scope="row">项目描述：</th>
                <td>欧拉图谱是以大数据关系图谱为基础的智能金融分析平台，为了增强前端产品特色，开发自己专有的泛图谱业务组件库，实现关系类型数据的可视化展示。</td>
            </tr>
            <tr>
                <th scope="row">项目职责：</th>
                <td>
                    <ul>
                        <li>搭建组件库架构，基于vue2.0框架，开发以插件形式使用的组件库。</li>
                        <li>开发组件库用例网站，以实例代码形式展示组件的使用效果。</li>
                        <li>开发泛图谱组件，基于d3、ECharts、Element等基础组件，开发可交互、可个性化的组件。</li>
                        <li>GitHub内部开源管理，基于git、npm实现版本管理，其他团队安装使用。</li>
                    </ul>
                </td>
            </tr>
        </table>
    </li>
</ol>