<p>
    ScaledRisk 是一个专注于大数据挖掘（Big Data）与商业智能（Business Intelligence）的创新型创业公司，主要客户领域是金融与银行业。
    <br/>
    网址：<a href="http://www.scaledrisk.com/" target="_blank">http://www.scaledrisk.com</a>
</p>

<ol>
    <li>大数据金融风险分析平台（2013/02 – 2013/08）
        <table class="table">
            <tr>
                <th scope="row">项目职务：</th>
                <td>前端开发 - 实习</td>
            </tr>
            <tr>
                <th scope="row">项目描述：</th>
                <td>ScaledRisk平台基于Hadoop/HBase技术去分析大数据，通过客户自定义数据模型，分析海量舆情数据，定位金融项目的风险。</td>
            </tr>
            <tr>
                <th scope="row">项目职责：</th>
                <td>
                    <ul>
                        <li>运用JavaScript/css/html实现高性能、使用简洁的用户交互逻辑。</li>
                        <li>丰富数据可视化页面，基于jQuery/UI、D3js等工具库。</li>
                        <li>协助定义后端API接口，测试前端流畅性。</li>
                        <li>体验团队协作，熟悉Maven、Hadoop/HBase开发环境。</li>
                    </ul>
                </td>
            </tr>
        </table>
    </li>
</ol>