<p>
    TicketCom是一个收银票据业务广告商，在票据和网站上发布商铺优惠活动。
    <br/>
    网址：<a href="https://www.ticket-com.com/" target="_blank">https://www.ticket-com.com</a>
</p>

<ol>
    <li>Olapromo.com 优惠券分享平台（2012/02 – 2012/08）
        <table class="table">
            <tr>
                <th scope="row">项目职务：</th>
                <td>后端开发 - 实习</td>
            </tr>
            <tr>
                <th scope="row">项目描述：</th>
                <td>Olapromo.com 是一个优惠券分享平台，TicketCom将客户的优惠信息印刷在票据的背面，也同时同步到olapromo平台。</td>
            </tr>
            <tr>
                <th scope="row">项目职责：</th>
                <td>
                    <ul>
                        <li>开发后端PHP模块，基于CodeIgniter框架。</li>
                        <li>发网站移动端版本，基于jQuery Mobile工具。</li>
                        <li>使用谷歌地图、Facebook服务接口，嵌入网站。</li>
                    </ul>
                </td>
            </tr>
        </table>
    </li>
</ol>