<p>
    Tangram 七巧板软件咨询公司是一个创业公司，主要业务是开发通过SaaS模式交付的web端应用软件系统。
</p>

<ol>
    <li>企业内部管理系统（2014/06 – 2016/05）
        <table class="table">
            <tr>
                <th scope="row">项目职务：</th>
                <td>Web应用开发工程师</td>
            </tr>
            <tr>
                <th scope="row">项目描述：</th>
                <td>开发企业内部管理系统，包括预算编辑、多媒体分发、产品信息管理、客户管理。帮助企业实现成本控制，产品线信息化管理等功能。</td>
            </tr>
            <tr>
                <th scope="row">项目职责：</th>
                <td>
                    <ul>
                        <li>负责开发MVC模式的前端JS应用，基于ExtJS框架，开发个性化组件。</li>
                        <li>开发后端PHP Zend模块，设计MySQL数据库结构，通过SOAP协议制作接口。</li>
                        <li>开发基于Joomla的CMS内容管理系统，搭建客户门户网站。</li>
                        <li>开发Hybrid混合动力App，基于Ionic、Cordova框架。</li>
                    </ul>
                </td>
            </tr>
        </table>
    </li>
</ol>
