<p>
    PI Electronique 法国圆周率电子科技公司是一个创立35年的收银系统服务提供商，超过200名员工，主要业务是收银机生产、收银系统研发、客户财务平台搭建，业务涉及法国、瑞士、卢森堡、澳大利亚。
    <br/>
    网址：<a href="http://www.pielectronique.com/" target="_blank">http://www.pielectronique.com</a>
</p>

<h5><i class="fas fa-briefcase"></i> 项目经验：</h5>
<ol>
    <li>信用卡快捷支付系统（2017/10 – 2018/06）
        <table class="table">
            <tr>
                <th scope="row">项目职务：</th>
                <td>高级web应用开发工程师</td>
            </tr>
            <tr>
                <th scope="row">项目描述：</th>
                <td>与公司收银系统相结合的移动端快捷支付系统，可通过下载App和扫描二维码的方式进行信用卡支付。</td>
            </tr>
            <tr>
                <th scope="row">项目职责：</th>
                <td>
                    <ul>
                        <li>负责开发渐进式（PWA）页面，基于Angular、Ionic等技术，实现跨平台部署。</li>
                        <li>设计防诈骗逻辑，通过标记支付状态，自动分发支付流程。</li>
                        <li>开发后端Symfony框架下的支付接口，完成与收银系统通信，实现高并发。</li>
                    </ul>
                </td>
            </tr>
        </table>
    </li>

    <li>客户会员积分App（2017/10 – 2018/06）
        <table class="table">
            <tr>
                <th scope="row">项目职务：</th>
                <td>高级web应用开发工程师</td>
            </tr>
            <tr>
                <th scope="row">项目描述：</th>
                <td>为客户开发会员服务功能App，具备店铺信息展示、消费积分兑换、手机移动支付等功能。</td>
            </tr>
            <tr>
                <th scope="row">项目职责：</th>
                <td>
                    <ul>
                        <li>负责重构Hybrid混合动力App，基于Ionic、Cordova等渐进式框架，部署到iOS、Android。</li>
                        <li>开发原生App功能，实现消息推送、栏栅定位（Geofence）、二维码扫描等功能。</li>
                        <li>改写后端代码，升级PHP5到PHP7，增强接口运行速度，优化代码架构。</li>
                    </ul>
                </td>
            </tr>
        </table>
    </li>
</ol>
