<p>
    Tangram是一个创业公司，主要业务是承包大企业对SaaS软件开发的需求。
</p>

<ol>
    <li>现代汽车(Hyundai)预算编辑软件：
        <p class="pt-2">
            以SaaS方式交付使用。开发基于PHP5语言Zend2框架下，以SOAP协议为基准，连同MySQL数据库，处理后台业务的API模块，以及基于JS语言ExtJS框架下的前台web应用。此项目的前台逻辑要比后台更复杂，需要很多对数据的操作，例如对预算的可视化比对（通过amCharts实现）以及预算与日历的结合等。项目得到客户认可，并且获得了未来三年的续期订单。
        </p>
    </li>

    <li>
        <p class="pt-2">
            负责为英瑞杰（plastic omnium），阿尔斯通（Alstom）等公司升级前台web应用(ExtJS框架)，结合我们已有的后台模块，实现对大企业内部多媒体资源的管理、分享、格式转换等操作。
        </p>
    </li>

    <li>
        <p class="pt-2">
            协同开发基于PHP内容管理系统Joomla的门户网站开发，结合Bootstrap等前端工具制作Responsive设计风格界面。https://www.plasticomnium.com, pwik,
            SEO搜索引擎优化。
        </p>
    </li>

    <li>
        <p class="pt-2">
            利用Appcelerator Titanium跨平台移动开发框架，为Alstom开发平板端的企业App。
        </p>
    </li>
</ol>