<p>
    ScaledRisk是一个专注于大数据挖掘与商业智能的创新型创业公司，主要客户法国兴业银行。
</p>

<ol>
    <li>
        <p class="pt-2">
            开发前台应用，利用jQuery/SlickGrid/D3.js等工具集，呈现大数据表格、图形，动态显示等组件。
        </p>
    </li>

    <li>
        <p class="pt-2">
            开发基于Java后台web服务，连接Hadoop/HBase大数据底层服务获取数据，发送前端。
        </p>
    </li>
</ol>